name: DevOps Mini Project CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Build Docker image
      run: docker build -t devops-hello-app .

    - name: Run container
      run: docker run -d -p 8080:8080 --name devops-app devops-hello-app

    - name: Wait for app
      run: sleep 5

    - name: Test endpoint
      run: curl -f http://localhost:8080/hello
